@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600|Raleway:400,600';
a {
  cursor: pointer;
  transition: all ease 0.2s;
}

body {
  font-family: "Raleway", sans-serif !important;
}

.thumbnail, .img-thumbnail {
  box-shadow: none !important;
}

label {
  display: block;
}

.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0;
  visibility: hidden;
  overflow: hidden;
}

.glyphicon-menu-down {
  color: #cdcdcd;
}

h2, h3, h4, h5 {
  font-family: "Raleway", sans-serif !important;
}

p {
  font-family: "Century Gothic", sans-serif;
}

h3 {
  color: #002C26;
}

h1 {
  font-size: 36px !important;
}

h3.title-white {
  color: white !important;
}

.container2 {
  max-width: 1000px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

slide {
  display: block;
  min-height: 180px;
  position: static;
  z-index: -1;
}
slide ul {
  margin: 0;
  padding: 0;
}
slide img {
  width: 100%;
  height: auto;
}
slide h1 {
  text-transform: uppercase;
  margin: 0px;
}

.thumb img {
  width: 100%;
  height: auto;
}
.thumb .image-zoom {
  width: 100%;
  overflow: hidden;
  display: block;
}
.thumb .image {
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
}
.thumb .image:hover {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  /* IE 9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')";
  /* IE8 */
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand');
  /* IE6 and 7 */
}

.divisor {
  height: 50px;
}

.gmwd_store_locator_container {
  display: none;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
@media all and (max-width: 767px) {
  #main {
    border-top: 5px solid #8BC53E;
  }
}

.home #main {
  position: relative;
  top: 0px;
  z-index: 5;
}

.page:not(.home) #main, .search #main, .archive #main, .single #main {
  width: 100%;
  position: relative;
  top: -200px;
  z-index: 5;
  /*@media all and (min-width: $small) and (max-width: $medium)  {
    top: 300px;
  }

  @media all and (min-width: 992px) {
    top: 230px;
  }

  @media all and (min-width: $large) {
    top: 310px;
  }*/
}

/*==================================================
 * Box shadow main
 * ===============================================*/
.effect8 {
  position: relative;
}

.main.internal.effect8:before, .main.internal.effect8:after {
  content: "";
  position: absolute;
  z-index: -1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 0;
  border-radius: 100px / 10px;
  height: 15%;
}

.effect8:before, .effect8:after {
  content: "";
  position: absolute;
  z-index: -1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 0;
  border-radius: 100px / 10px;
  height: 80%;
}

.main {
  background: white;
  padding: 50px;
  min-height: 480px;
  margin-bottom: 50px;
  padding-bottom: 100px;
}
@media all and (min-width: 768px) {
  .main {
    border-top: 5px solid #8BC53E;
  }
}
@media all and (max-width: 767px) {
  .main {
    padding: 20px;
  }
}
@media all and (min-width: 992px) {
  .main {
    padding: 50px 50px 100px 50px;
    margin-bottom: 0;
    border-top: 10px solid #8BC53E;
  }
}
.main img {
  width: 100%;
  height: auto;
}
.main h2 {
  font-size: 34px;
  margin-bottom: 25px;
  color: #065D2A;
}
.main h2 a {
  text-decoration: none;
}
.main p {
  color: #868686;
}
.main h2.w-border {
  margin-bottom: 50px !important;
}

.main.internal h2.w-border, .main.internal h1.w-border {
  text-align: left;
  font-size: 30px;
  margin-bottom: 15px;
  margin-top: 0;
  border-bottom: 5px solid green;
}
.main.internal h2.w-border a, .main.internal h1.w-border a {
  color: #012C26;
}
.main.internal h2.w-border {
  font-size: 40px !important;
  color: black !important;
}
.main.internal h3.w-border {
  text-align: left;
  margin-bottom: 15px;
  margin-top: 0;
  border-bottom: 5px solid green;
  padding-bottom: 15px;
  margin-bottom: 40px;
}
.main.internal h3.w-border a {
  color: #012C26;
}
.main.internal .w-border {
  margin-top: 30px !important;
}
@media all and (min-width: 768px) {
  .main.internal .w-border {
    margin-top: 0px !important;
  }
}

#news h3 {
  color: #002C26;
  font-size: 17px;
  line-height: normal;
  font-weight: bold;
}
#news p {
  color: #858585;
}

#call {
  position: relative;
  top: -55px;
  z-index: 6;
}

h2.w-border, h1.w-border {
  border-bottom: 2px solid green;
  padding-bottom: 15px;
  margin-bottom: 40px;
  text-align: center;
}

copyright {
  padding: 50px 0 0;
}

.section-grey {
  background: #ddd;
  border-top: 5px solid green;
  position: relative;
  z-index: 6;
}

.slider-products {
  text-align: center;
  position: relative;
  top: -70px;
}
.slider-products .title-product {
  color: #022C26;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  background-image: linear-gradient(top #8bc53e, bottom);
}
.slider-products .icon-product .box-green {
  padding: 15px;
  width: 130px;
  height: 130px;
  background: #8BC53E;
  margin: 0 auto 20px;
  border-radius: 5px;
  border-bottom: 3px solid #7DB335;
  border-top: 2px solid #AFD779;
}
.slider-products .icon-product .box-white {
  background-color: white;
  width: auto;
  height: 95px;
  border-radius: 5px;
  border-bottom: 2px solid #AFD779;
  border-top: 3px solid #7DB335;
}
.slider-products .icon-product .box-white img {
  height: 80px;
  width: auto;
  padding-top: 10px;
  display: inline-block;
}
.slider-products .text-product {
  font-size: 15px;
  color: #868686;
  padding: 10px 0;
}
.slider-products .text-product a {
  color: green;
}

.call-to-action {
  margin: 0 auto;
  text-align: center;
}
.call-to-action .call-text, .call-to-action .call-btn {
  background: #006e31 none repeat scroll 0% 0%;
  padding: 20px 50px;
  min-height: 108px;
}
@media all and (max-width: 767px) {
  .call-to-action .call-text, .call-to-action .call-btn {
    padding: 30px 20px;
  }
}
.call-to-action .call-text {
  background: #006E31;
  color: white;
  font-size: 24px;
  line-height: normal;
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .call-to-action .call-text {
    height: 162px;
  }
}
.call-to-action .call-text p {
  color: #FFF;
  margin: 0;
  line-height: 40px;
}
.call-to-action .call-btn {
  background: #6D9B2F;
  padding: 0px;
}
.call-to-action .call-btn .glyphicon {
  color: white;
  font-size: 20px;
  border: 3px solid white;
  border-radius: 50%;
  padding: 15px;
}
@media all and (min-width: 992px) {
  .call-to-action .call-btn .glyphicon {
    margin-top: 10px;
  }
}
.call-to-action .call-btn p {
  font-size: 35px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 1.6;
}
@media all and (min-width: 992px) {
  .call-to-action .call-btn p {
    text-align: left;
    line-height: 2;
  }
}
.call-to-action .call-btn a {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 20px 50px;
  margin: 0px;
  -web-kit-transition: 1s ease-in;
  transition: 1s ease-in;
}
.call-to-action .call-btn a:hover {
  background: #006E31;
}

.new {
  margin-bottom: 50px;
}
.new .footer-text {
  background: #F7F7F7;
  padding: 10px;
  color: #999;
  position: relative;
  bottom: 0;
  text-align: right;
  width: 100%;
  margin-top: 10px;
  display: inline-block;
}
.new .footer-text .post-more {
  width: auto;
  float: right;
  display: inline-block;
}
.new .footer-text .post-more span {
  border-left: 1px solid #ccc;
}
.new .footer-text .post-more span, .new .footer-text .post-more div {
  display: inline;
  padding-left: 5px;
}
.new .footer-text .post-more a {
  color: #999999;
  font-weight: bold;
  font-size: 11px;
  padding-left: 3px;
}
.new .footer-text .post-more img {
  width: auto;
  height: auto;
}
.new p.new-text {
  height: auto;
}
@media all and (min-width: 992px) {
  .new p.new-text {
    height: 85px;
  }
}

.page .main.internal .data, .single .main.internal .data, .home .main.internal .data, .archive .main.internal .data, .search .main.internal .data {
  color: #858585;
  font-size: 13px;
  font-weight: bold;
}
.page .main.internal .thumb img, .single .main.internal .thumb img, .home .main.internal .thumb img, .archive .main.internal .thumb img, .search .main.internal .thumb img {
  width: 100%;
  height: auto;
 /*@media all and (min-width: $small) {
  width: auto;
  height: 277px;
}*/
}
.page .main.internal .thumb .image-zoom, .single .main.internal .thumb .image-zoom, .home .main.internal .thumb .image-zoom, .archive .main.internal .thumb .image-zoom, .search .main.internal .thumb .image-zoom {
  width: 100%;
  overflow: hidden;
  display: block;
}
.page .main.internal .thumb .image-zoom:after, .single .main.internal .thumb .image-zoom:after, .home .main.internal .thumb .image-zoom:after, .archive .main.internal .thumb .image-zoom:after, .search .main.internal .thumb .image-zoom:after {
  pointer-events: none;
  content: "";
  border: 1px solid white;
  position: absolute;
}
.page .main.internal .thumb .image-zoom.img-padrao:after, .single .main.internal .thumb .image-zoom.img-padrao:after, .home .main.internal .thumb .image-zoom.img-padrao:after, .archive .main.internal .thumb .image-zoom.img-padrao:after, .search .main.internal .thumb .image-zoom.img-padrao:after {
  width: 85%;
  height: 90%;
  left: 8%;
  top: 5%;
}
.page .main.internal .thumb .image-zoom.img-interna-page:after, .single .main.internal .thumb .image-zoom.img-interna-page:after, .home .main.internal .thumb .image-zoom.img-interna-page:after, .archive .main.internal .thumb .image-zoom.img-interna-page:after, .search .main.internal .thumb .image-zoom.img-interna-page:after {
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
}
.page .main.internal .thumb .image-zoom.img-interna-single:after, .single .main.internal .thumb .image-zoom.img-interna-single:after, .home .main.internal .thumb .image-zoom.img-interna-single:after, .archive .main.internal .thumb .image-zoom.img-interna-single:after, .search .main.internal .thumb .image-zoom.img-interna-single:after {
  width: 90%;
  height: 23%;
  left: 5%;
  top: 15%;
}
.page .main.internal .thumb:hover img, .single .main.internal .thumb:hover img, .home .main.internal .thumb:hover img, .archive .main.internal .thumb:hover img, .search .main.internal .thumb:hover img {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  /* IE 9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')";
  /* IE8 */
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand');
  /* IE6 and 7 */
  opacity: 1 !important;
}
.page .main.internal .thumb .image, .single .main.internal .thumb .image, .home .main.internal .thumb .image, .archive .main.internal .thumb .image, .search .main.internal .thumb .image {
  background-color: green;
}
.page .main.internal .thumb .image img, .single .main.internal .thumb .image img, .home .main.internal .thumb .image img, .archive .main.internal .thumb .image img, .search .main.internal .thumb .image img {
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  opacity: .7;
}

.single-post .main.internal .data {
  color: #858585;
  font-size: 13px;
  font-weight: bold;
}
.single-post .main.internal .thumb {
  margin: 50px 0;
}
.single-post .main.internal .thumb img {
  width: 100%;
  height: auto;
}
.single-post .main.internal .thumb .image-zoom {
  width: 100%;
  height: 320px;
}
.single-post .main.internal .thumb:hover img {
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  /* IE 9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')";
  /* IE8 */
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand');
  /* IE6 and 7 */
  opacity: 1 !important;
}
.single-post .main.internal .thumb .image {
  background-color: green;
}
.single-post .main.internal .thumb .image img {
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  opacity: .7;
}

#contact .form input, #contact .form textarea {
  width: 100%;
  border: 1px solid green;
  padding: 5px 2px;
  color: grey;
  font-size: 12px;
}
#contact .form input.wpcf7-submit {
  background: green;
  color: white;
  padding: 5px;
}

img.ajax-loader {
  width: auto;
}

.bloco-empresa {
  display: inline-block;
  margin-bottom: 10%;
}

.indice {
  display: none;
}
@media all and (min-width: 992px) {
  .indice {
    display: block;
    margin: 0;
    padding: 20px 30px;
    color: white;
    font-weight: bold;
  }
  .indice li {
    list-style: none;
    display: inline-block;
    border-right: 1px solid white;
  }
  .indice li:last-child {
    border-right: none;
  }
  .indice li a {
    margin: 0px 6px;
    color: white;
    font-size: 13px;
  }
}

.slider-partners {
  text-align: center;
}
.slider-partners a {
  display: inline-block;
}

.results li {
  list-style: square;
  color: green;
  padding: 10px;
}
.results li a {
  color: inherit;
}

#products {
  background-color: #006E31;
}
@media all and (max-width: 1119px) {
  #products {
    display: none;
  }
}
#products .filter {
  box-shadow: inset -17px 0px 2px -18px white;
  border-right: 1px solid #004020 !important;
  padding: 2%;
}
@media all and (min-width: 1200px) {
  #products .filter {
    padding: 2%;

  }
}
#products .filter p {
  width: auto;
  color: white;
  font-weight: bold;
  font-size: 17px;
  font-family: "Raleway", sans-serif;
}
#products .filter label {
  width: 100%;
  text-align: center;
}
@media all and (min-width: 768px) {
  #products .filter label {
    width: auto;
    text-align: left;
  }
}
@media all and (min-width: 992px) {
  #products .filter label {
    display: inline-block;
    margin-right: 5px;
  }
}
#products .filter select {
  width: 100%;
  background-color: #2A8835;
  border: none;
  color: white;
  text-align: center;
}
@media all and (min-width: 992px) {
  #products .filter select {
    width: 50%;
  }
}
@media all and (min-width: 1200px) {
  #products .filter select {
    width: 100%;
  }
}
#products .filter select:after {
  content: "";
  display: block;
  background: url("img/icone-seta.png") no-repeat;
  width: 13px;
  height: 8px;
  float: left;
  margin: 0 6px 0 0;
}
#products .filter option {
  padding: 5px;
  border-bottom: 1px solid white;
}
#products .filter.last {
  display: none;
  border-right: 0px !important;
  box-shadow: none !important;
  padding-right: 2.5%;
}
@media all and (min-width: 992px) {
  #products .filter.last {
    display: block;
  }
}
#products .filter.first {
  padding-left: 3.5%;
}

.box-product {
  text-align: center;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.15);
  padding: 40px 30px;
  margin-bottom: 20px;
  transition: all ease 0.5s;
}
.box-product .title-product h5 {
  font-weight: 600;
}
.box-product .img-product {
  border-bottom: 1px solid #2A8835;
  padding: 20px 0 10px;
  margin-bottom: 15px;
}
.box-product .table-product ul {
  margin: 0;
  padding: 0;
}
.box-product .table-product li {
  list-style: none;
  border-bottom: 1px solid #DDDDDD;
  padding: 10px 0;
  margin: 0;
  float: left;
  width: 100%;
}
.box-product .table-product .attr {
  padding-bottom: 20px !important;
}
.box-product .desc-attr {
  margin-top: 15px;
  font-family: 'Open Sans', sans-serif;
  background-image: -moz-linear-gradient(to left, red 0%, yellow 50%, green 100%);
  background-image: -webkit-linear-gradient(left, red 0%, yellow 50%, green 100%);
  background-image: linear-gradient(left, red 0%, yellow 50%, green 100%);
  height: 23px;
}
.box-product .desc-attr .item-attr {
  line-height: 23px;
  font-size: 13px;
  width: 11.1%;
  float: left;
  color: #103F00;
  font-weight: bold;
  position: relative;
  border-right: 1px solid #FFF;
}
.box-product .desc-attr .item-attr.active:after {
  content: "";
  border: 3px solid green;
  position: absolute;
  height: 35px;
  top: -6px;
  left: 0;
  width: 100%;
}
.box-product:hover {
  background-color: #2A8835;
  box-shadow: none;
  border: none;
  color: white;
}
.box-product:hover a.btnGreen {
  background-color: white;
  color: #2A8835;
}
.box-product:hover .img-product {
  border-bottom-color: white;
}
.box-product:hover .title-product h5 {
  color: white;
}
.box-product:hover .item-attr.active:after {
  border-color: white !important;
}

a.btnGreen {
  display: inline-block;
  width: auto;
  text-align: center;
  background-color: #2A8835;
  color: white;
  border: none;
  padding: 15px 25px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 30px 0px 0px;
  border-radius: 4px;
  text-decoration: none;
}
a.btnGreen:after {
  content: "\e258";
  position: relative;
  top: 0;
  right: -10px;
  font-family: "Glyphicons Halflings";
}

.thumbnail {
  border: 0px;
}
.thumbnail iframe, .thumbnail img {
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.4);
  height: 420px;
  width: 100%;
  margin: 30px 0 0;
}
@media all and (max-width: 479px) {
  .thumbnail iframe, .thumbnail img {
    height: auto !important;
  }
}

header {
  position: relative;
  z-index: 7;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  height: 80px;
}
@media all and (min-width: 1200px) {
  header {
    height: auto;
    position: fixed;
    background: white;
    width: 100%;
  }
}
header .logo img {
  width: 100%;
  max-width: 250px;
  height: auto;
}
header .logo a {
  display: block;
  height: auto;
  padding-top: 10px;
}
@media all and (max-width: 479px) {
  header .logo a {
    padding: 26px 0;
    height: 80px;
  }
}
@media all and (min-width: 480px) and (max-width: 767px) {
  header .logo a {
    padding: 10px 0;
    height: 80px;
  }
}
header nav.menu {
  display: none;
  /*ul:not(.submenu) { min-height: 85px;}*/
}
header nav.menu ul.main-nav {
  margin: 0;
  padding: 0;
}
@media all and (min-width: 992px) {
  header nav.menu {
    display: block;
  }
}
header nav.menu li.item {
  list-style-type: none;
}
header nav.menu li.item:hover {
  background-color: #eee;
}
header nav.menu li.item:hover > .sub-menu, header nav.menu li.item:hover > .sub-menu2 {
  display: block;
  left: 0;
}
header nav.menu li.item:last-child {
  border-right: none !important;
}
header nav.menu li.item:not(:last-child) span {
  border-right: 1px solid #ddd;
}
header nav.menu li.item span {
  padding: 10px 16px 10px 12px;
  color: #535353;
}
header nav.menu li.item a:hover {
  text-decoration: none;
}
header nav.menu .active {
  border-bottom: 5px solid #008000;
}
header nav.menu li, header nav.menu a {
  float: left;
  min-height: 86px;
}
header nav.menu a {
  font-family: "Century Gothic", Raleway, sans-serif;
  width: 100%;
  padding: 30px 0 0 10px;
}
header nav.menu .sub-menu, header nav.menu .sub-menu2 {
  display: none;
  position: absolute;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  width: 100%;
  top: 85px;
  max-height: 85px;
}
header nav.menu .sub-menu li, header nav.menu .sub-menu2 li {
  display: inline-block;
  float: none;
  margin-left: -3px;
}
header nav.menu .sub-menu {
  background-color: #eee;
}
header nav.menu .sub-menu li:hover {
  background-color: #ddd;
}
header nav.menu .sub-menu2 {
  background-color: #ccc;
}
header nav.menu .sub-menu2 a:hover {
  background-color: #A5A5A5;
}
header .bar-top {
  display: block;
  float: right;
  position: relative;
  width: auto;
  max-width: 300px;
}
@media all and (min-width: 1200px) {
  header .bar-top {
    padding: 28px 0;
  }
}
header .bar-top .item-bar {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  max-height: 30px;
  padding: 0 5px;
  margin: 0;
}
@media all and (min-width: 768px) {
  header .bar-top .item-bar {
    margin: 0 5px;
  }
}
@media all and (max-width: 479px) {
  header .bar-top .item-bar {
    padding: 0 3px;
  }
}
header .bar-top .item-bar .cursor {
  padding: 20px 0;
  display: block;
}
@media all and (min-width: 1200px) {
  header .bar-top .item-bar .cursor {
    padding: 0;
  }
}
@media all and (max-width: 1199px) {
  header .bar-top .item-bar .cursor {
    padding: 26px 0;
    height: 80px;
  }
}
header .bar-top .item-bar .morphsearch:not(.open) .morphsearch-input:after {
  content: "\e003";
  position: relative;
  top: 0;
}
header .bar-top .item-bar .morphsearch:not(.open) i.glyphicon-search {
  position: absolute;
  left: 6px;
  top: 6px;
  color: #CCC;
  pointer-events: none;
}
header .bar-top .item-bar .morphsearch:not(.open) input.glyphicon-search {
  border: 2px solid #ccc;

  padding: 5px;
  color: #ccc;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
@media all and (max-width: 479px) {
  header .bar-top .item-bar .morphsearch:not(.open) input.glyphicon-search {
    padding: 2px;
  }
}
header .bar-top .item-bar .morphsearch:not(.open) input.glyphicon-search::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
}
header .bar-top .item-bar .morphsearch:not(.open) input.glyphicon-search::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}
header .bar-top .item-bar .morphsearch:not(.open) input.glyphicon-search:-ms-input-placeholder {
  /* IE 10+ */
  color: white;
}
header .bar-top .item-bar .morphsearch:not(.open) input.glyphicon-search:-moz-placeholder {
  /* Firefox 18- */
  color: white;
}
header .bar-top .item-bar .morphsearch-close {
  border: 2px solid #fff;
  border-radius: 50%;
}
header .bar-top .item-bar .morphsearch-close:after, header .bar-top .item-bar .morphsearch-close:before {
  background: #fff;
  opacity: 1;
}
header .bar-top .item-bar .morphsearch.open {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 6;
}
header .bar-top .item-bar .morphsearch.open .morphsearch-input {
  font-size: 3em !important;
  font-family: "Raleway", sans-serif !important;
  color: #ccc;
}
header .bar-top .item-bar .morphsearch.open i.glyphicon-search {
  display: none;
}
header .bar-top .item-bar .morphsearch.open .morphsearch-form {
  margin-top: 15%;
  height: 100px;
  background-color: white;
  border: 3px solid #ccc;
}
header .bar-top .item-bar .morphsearch.open .morphsearch-submit {
  background-color: #fff;
  border: 4px solid #999;
  border-radius: 50%;
  color: #999;
  width: 60px;
  height: 60px;
}
header .bar-top .item-bar .morphsearch.open .morphsearch-submit .glyphicon {
  font-size: 25px;
  vertical-align: middle;
}
header .bar-top .item-bar .morphsearch-form {
  height: 30px;
}
@media all and (max-width: 1199px) {
  header .bar-top .item-bar .idiomas {
    margin-top: 27px;
  }
}
@media all and (max-width: 479px) {
  header .bar-top .item-bar .idiomas {
    padding: 26px 0px;
    height: auto;
    margin: 0;
  }
}
header .bar-top .item-bar .idiomas ul {
  border: 0;
  overflow: visible;
  background-color: transparent;
  width: 100%;
}
header .bar-top .item-bar .idiomas ul li {
  list-style: none;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  background: white;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom: 1px solid #ccc;
}
header .bar-top .item-bar .idiomas ul li:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom: 2px solid #ccc;
}
@media all and (max-width: 479px) {
  header .bar-top .item-bar .idiomas ul li {
    font-size: 10px;
  }
}
header .bar-top .item-bar .idiomas ul li a {
  color: #ccc;
  text-decoration: none;
}
header .bar-top .item-bar .idiomas .selectboxit-option-first {
  border-top: 1px solid #ccc !important;
}
header .bar-top .item-bar .idiomas .selectboxit-option.selectboxit-focus {
  background-color: #eee !important;
  color: #ccc;
}
header .bar-top .item-bar .idiomas .selectboxit-option-last {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
header .bar-top .item-bar .selectboxit-open {
  border-radius: 15px !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom: 1px solid #ccc !important;
}
header .bar-top .menu2 {
  padding-top: 4px;
  height: 30px;
}
@media all and (max-width: 479px) {
  header .bar-top .menu2 img {
    width: auto;
    height: 20px;
  }
}

#menu2 ul.main-nav {
  margin: 0;
  padding: 0;
}
@media all and (max-width: 1199px) {
  #menu2 ul.main-nav li.item {
    width: 100%;
    text-align: center;
    background: #eee;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.8);
  }
}
@media all and (max-width: 1199px) {
  #menu2 ul.main-nav li.item a {
    display: block;
    padding: 15px 0;
    font-size: 17px;
    color: #666;
    text-decoration: none;
  }
}
#menu2 ul.main-nav li.item:hover {
  transition: .6s all ease;
  background-color: #dddddd;
}
#menu2 ul.main-nav ul.sub-menu {
  margin: 0;
  padding: 0;
}
#menu2 ul.main-nav ul.sub-menu li a:after {
  content: ">";
  position: absolute;
  right: 20px;
  color: #A5A5A5;
}

footer {
  color: white;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer a {
  color: white;
}
footer .footer {
  background: #006E31;
  padding: 60px 0;
}
footer .footer h3 {
  font-size: 33px;
  margin-bottom: 20px;
}
footer .footer div.line {
  border-right: 1px solid white;
  min-height: 250px;
  max-height: 250px;
}
footer .footer div.line:last-child {
  border: none;
}
@media all and (max-width: 991px) {
  footer .footer div.line {
    text-align: center;
  }
}
footer .footer .space {
  padding: 0 20px;
}
footer .footer .social li {
  display: inline-block;
  padding-right: 5px;
}
footer .footer p {
  font-family: "Century Gothic", sans-serif;
}
footer .footer .logo {
  padding-top: 22%;
}
footer .footer ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer .footer ul.menu li {
  display: block;
  width: 100%;
  font-size: 12px;
  font-family: 'Century Gothic', sans-serif;
}
@media all and (min-width: 992px) {
  footer .footer ul.menu li {
    width: 128px;
  }
}
footer .copyright {
  padding: 20px 0;
  background-color: #022C26;
  color: white;
}
footer .copyright p {
  margin: 0;
}
footer .copyright .mamweb-logo {
  float: right;
  padding-right: 5%;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: white url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "\2190";
}
[dir="rtl"] .slick-prev:before {
  content: "\2192";
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "\2192";
}
[dir="rtl"] .slick-next:before {
  content: "\2190";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  margin-top: 15px;
  position: absolute;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: green;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}
#news {
    display: none;
}
.no-padding {padding:0px !important;}
.row.tecnologia {
    margin: 50px 0px;
}
.footer-logo img {
max-width:100%;
}
.img-tech {
    height: 150px;
    position: relative;
}
.img-tech img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}